

.calculator_title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.calculator_title:hover{
    color: #A3B8CF;
}
.calc-property{
    width: 350px;
    height: 400px;
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    border-radius: 2%;
     background: #EAEBEC; 
    margin-bottom: 5%;
}
.operation{
    text-align: right;
  color: #727B86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
}

.answer{
    margin-top: 20px;
    font-size: 45px;
    text-align: right;
    background: #3A4655;
}

.blink-me{
            animation: animate 
                1.5s linear infinite;
}




.row1 {
    border-width: 1px;
    border-radius: 50px;
    border-color:black;  
    padding: 10px;
    cursor:pointer;
    font-size: 15px;
    background: #404D5E
}
.row2 {
    background-color: lightblue;
    border-color: white;
    cursor: pointer;
}
.row3{
    padding: .375rem 1.25rem;
    border-radius: 1rem;
    border: 1px solid #aaa5a4;
    background: #404D5E;
    margin: .25rem;
    cursor: pointer;
}

.row4{
  width: 100%;
  background: lightblue;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  
  border-right: solid 2px #3C4857;
  border-bottom: solid 2px #3C4857;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.std_button:hover{
  
        background: #E0B612;
        transform: rotate(2deg);
}
.row5{
    border-color:#A3B8CF; 
    cursor:pointer;
    background: #404D5E
   
}

.buttonC{
    color: #D95D4E;
  background: #404D5E;
}

.buttonC:hover{
    background: red;
        transform: rotate(2deg);
}


.calc_footer{
    position: absolute;
    bottom: 0;
    margin-top: 2%;
    display: flex;
    justify-content: center; 
    
    /* bottom:0; */
    width:100%;
    height:40px;   /* Height of the footer */
    /* background:#fff; */
}
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }

}
